{% extends 'base.html' %}

{% block content %}
<!-- Blog entries-->
<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="{{ first_notice.image.url }}" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{ first_notice.created_at }}</div>
            <h2 class="card-title">{{ first_notice.title }}</h2>
            <p class="card-text">{{ first_notice.preview }}</p>
            <a class="btn btn-primary" href="{% url 'notice' first_notice.id %}">Ler mais →</a>
        </div>
    </div>
    <!-- Nested row for non-featured blog posts-->
    {% if is_searching %}
    <h3>Resultados para "{{ query }}"</h3>
    {% if notices %}
        <!-- Renderiza a lista de notícias filtradas -->
        <div class="row">
            {% for notice in notices %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <a href="{% url 'notice' notice.id %}">
                        <img class="card-img-top" src="{{ notice.image.url }}" alt="{{ notice.title }}" />
                    </a>
                    <div class="card-body">
                        <div class="small text-muted">{{ notice.created_at }}</div>
                        <h2 class="card-title h4">{{ notice.title }}</h2>
                        <p class="card-text">{{ notice.preview }}</p>
                        <a class="btn btn-primary" href="{% url 'notice' notice.id %}">Ler mais →</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Nenhuma notícia encontrada para "{{ query }}".</p>
    {% endif %}
{% else %}
    <!-- Renders news normally when there is no search -->
    <div class="row">
        {% for notice in notices %}
        <div class="col-lg-6">
            <div class="card mb-4">
                <a href="{% url 'notice' notice.id %}">
                    <img class="card-img-top" src="{{ notice.image.url }}" alt="{{ notice.title }}" />
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ notice.created_at }}</div>
                    <h2 class="card-title h4">{{ notice.title }}</h2>
                    <p class="card-text">{{ notice.preview }}</p>
                    <a class="btn btn-primary" href="{% url 'notice' notice.id %}">Ler mais →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

    {% include 'components/_pagination.html' %}
</div>
{% endblock %}